<h1>Here are the students</h1>
<% @students.each do |student| %>
  <div class="student">
  	<p><%= image_tag student.avatar.url(:medium), class: "img_preview" %></p>
    <%= link_to student.name, student %> - <%= student.house.name %>
  </div>
<% end %>